# Environment
.env
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/*
!/media/.gitkeep
/staticfiles/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
